@{ ViewBag.Title = "AccessError"; }

<div class="dostup_not">
    <h2 class="dostup__pr_not">У вас нет права для просмотра этой страницы.</h2>
    <p class="dostup__prav_not">Может быть, вы хотите @Html.ActionLink("выйти из аккаунта", "Logout", "Home", null, new { @class = "error_prava_dos" })?</p>
</div>


