@model BigTravel_Company.Models.Country
@{
    ViewBag.Title = "Details";
}
<div class="search_turs">
    <h2 class="our-services__tle our-services__title--liner_coun ">
        Подробная информация о стране
    </h2>
</div>

<div class="container">
    <div class="offers">
        <div class="offer">
            <div class="offer__header">
                <h2 class="offer__title">
                    @Html.DisplayFor(model => model.Name_country)
                </h2>
            </div>
            <div class="offer__body">
                <div class="offer__body-img">
                    <img src="~/Content/image/country/@Html.DisplayFor(model => model.image)" />
                </div>
                <div class="offer__body-content">
                    @Html.DisplayFor(model => model.Description_country)
                </div>
            </div>
            <div class="but_reis_content_butt">
                @Html.ActionLink("Редактировать", "Edit", new { id = Model.id_country }, new { @class = "save_edit_reis" })
                <div class="Save_reis">
                    <a class="back_reis button_back" href="/Countries/Index"><span>&#8594;</span>Назад<span>&#8592;</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
